/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

#logo {
  width: 61.09px;
  height: 19px;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

#logo {
  padding: 20px 0;
  width: 61.09px;
  height: 19px;
  margin: 20px 0 0 0;
}

h1 {
  margin: 0;
}

/***************** HEADER **********************/

header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

/* NAVBAR */
nav ul {
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  margin-top: 0;
}

nav ul li {
  margin-left: 63px;
  width: fit-content;
  text-align: end;
  padding-top: 20px;
  /* évite le bug+ */
  border-top: 2px solid transparent;
  cursor: pointer;
}

nav ul li a {
  color: black;
}

nav ul li:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

nav ul li:hover a {
  color: var(--main-color);
}
/* ***************** */
.text-intro h2 {
  margin: 0;
}

.text-intro p {
  margin-top: 10px;
}

/* ***********************section button Rechercher*********************** */
.search-container {
  margin: 30px 0;
  display: flex;
  align-items: center;
}

.search-container span {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f3f3f3;
  width: 48px;
  height: 48px;
  background-color: #f3f3f3;
  border-radius: 15px 0 0 15px;
}

.search-container span i {
  color: black;
}

.search-container form input[type="search"] {
  border: none;
  border: 1px solid #f3f3f3;
  height: 50px;
  width: 220px;
  font-size: 1.2em;
  font-weight: 700;
  padding-left: 30px;
}

.search-container button[type="submit"] {
  height: 50px;
  width: 140px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 0 15px 15px 0;
  font-size: 1.1em;
  font-weight: 700;
  cursor: pointer;
  transition: 300ms ease-out;
}

.search-container button[type="submit"]:hover {
  background-color: rgba(0, 101, 252, 0.9);
}

/*icone de recherche pour le format mobile*/
.search-icon {
  display: none;
}

/* **********************************FILTER******************************** */

.filter-container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.filter-container h2 {
  margin-right: 20px;
  font-size: 1em;
}

.filter-container-btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 50%; */
  font-weight: 700;
  text-wrap: nowrap;
  padding: 15px 20px;
  border: 2px solid var(--main-bg-color);
  border-radius: 999px;
  transition: 300ms ease-out;
}

/* correction bug sur firefox */
.filter-text {
  width: 90px;
}

.filter-btn:hover {
  background-color: var(--filter-bg-color);
}

.filter-btn i {
  color: var(--main-color);
  margin-right: 10px;
}

/* *************Partie Info************** */

.info {
  margin: 30px 0;
}

.info p span {
  color: var(--main-color);
  font-family: serif;
  font-weight: 900;
  border: 1px solid var(--main-bg-color);
  padding: 3px 9px;
  border-radius: 50%;
}

/************************* Hebergements And Populaires********** ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** **************************Populaires******************* ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
  transition: transform 0.3s ease-out;
}

.populaires-cards .card:hover {
  transform: scale(1.05);
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* ***********************section hébergements**************************** */

.hebergements {
  width: 65%;
}

.hebergements h2 {
  margin-bottom: 30px;
}

.hebergements-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  width: 240px;
  transition: transform 0.3s ease-out;
}

.hebergements-cards .card:hover {
  transform: scale(1.05);
}

.hebergements-cards img {
  width: 100%;
  height: 136px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

#show-more {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  padding-top: 40px;
}

/* **********************section Activité************************** */

.activites {
  margin: 40px 0;
  width: 100%;
  padding: 10px;
}

.activites-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.activites-cards .card {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  transition: transform 0.3s ease-out;
  padding: 0;
  transition: 0.3s ease-out;
}

.activites-cards .card:hover {
  transform: scale(1.05);
}

.activites-cards img {
  width: 100%;
  height: 400px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activites-cards .card-content {
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.activites-cards .card-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ************************Footer********************************** */
.footer {
  padding: 20px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer article {
  width: 33%;
}

.footer h3 {
  margin: 0;
}

.footer ul li {
  line-height: 2;
}

.footer ul {
  padding-left: 0;
  margin-top: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
