/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --filter-border-color: #d9d9d9;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

#logo {
  width: 61.09px;
  height: 19px;
  margin: 30px 0px;
}

/***************** HEADER **********************/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding-bottom: 40px; */
}

/* NAVBAR */
nav ul {
  display: flex;
  font-size: 16px;
  margin-top: 0;
}

nav ul li {
  width: 100%;
  margin-left: 63px;
  text-align: center;
  padding-top: 50px;
  /* évite le bug+ */
  border-top: 2px solid transparent;
  list-style: none;
  cursor: pointer;
}

nav ul li a {
  color: black;
}

nav ul li:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

nav ul li:hover a {
  color: var(--main-color);
}
/* ***************** */

.info-group h2 {
  margin: 0;
}

.info-group p {
  margin-top: 10px;
}

/* ***********************section button Rechercher*********************** */
.search-container {
  margin: 30px 0;
  display: flex;
  align-items: center;
}

.search-container span {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f3f3f3;
  width: 48px;
  height: 48px;
  background-color: #f3f3f3;
  border-radius: 15px 0 0 15px;
}

.search-container span i {
  color: black;
}

.search-container form input[type="search"] {
  border: none;
  border: 1px solid #f3f3f3;
  height: 50px;
  width: 220px;
  font-size: 1.2em;
  font-weight: 700;
  padding-left: 30px;
}

.search-container button[type="submit"] {
  height: 50px;
  width: 140px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 0 15px 15px 0;
  font-size: 1.1em;
  font-weight: 700;
  cursor: pointer;
  transition: 300ms ease-out;
}

.search-container button[type="submit"]:hover {
  background-color: rgba(0, 101, 252, 0.9);
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 49px;
  width: 50px;
  border-radius: 15px;
  border: none;
  background-color: var(--main-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.search-icon i {
  color: var(--main-bg-color);
  font-size: 15px;
}

/*icone de recherche pour le format mobile*/
.search-icon {
  display: none;
}

/* **********************************FILTER******************************** */

.filter-container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.filter-container h2 {
  margin-right: 20px;
  font-size: 1em;
}

.filter-container-btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 120px; */
  font-weight: 700;
  text-wrap: nowrap;
  padding: 15px 20px;
  border: 2px solid var(--filter-border-color);
  border-radius: 999px;
  transition: 300ms ease-out;
}

.filter-btn:hover {
  background-color: var(--filter-bg-color);
}

.filter-btn i {
  color: var(--main-color);
  margin-right: 10px;
}

/* *************Partie Info************** */

.info {
  margin: 30px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.info span {
  color: var(--main-color);
  font-family: serif;
  font-weight: 900;
  border: 1px solid var(--main-bg-color);
  padding: 3px 9px;
  border-radius: 50%;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergements-cards {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 240px;
}

.hebergements-cards img {
  width: 100%;
  height: 136px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.show-more {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 30px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* ********************Section Activités*************************** */

.activites {
  padding: 30px;
}

.activites-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activites-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.activites-cards .card {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  width: 297px;
  padding: 0;
}

.activites-cards img {
  height: 439px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activites-cards .card-content {
  width: 100%;
  padding: 20px 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

/* ************************Footer********************************** */
.footer {
  margin-top: 35px;
  padding: 20px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer article {
  width: 33%;
}

.footer h3 {
  margin: 0;
}

.footer ul li {
  line-height: 2;
  list-style: none;
}

.footer ul {
  padding-left: 0;
  margin-top: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  /* section popilaires */
  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  /* section activités */
  .activites-cards .card {
    width: 189.5px;
    padding: 0;
  }

  .activites-cards img {
    height: 200px;
  }

  .activites-cards .card-content {
    height: 70px;
    flex-direction: column;
    justify-content: center;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0px;
  }

  /* **************HEADER**************** */
  header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 31px;
  }

  header h1 #logo {
    margin: 30px;
  }

  nav {
    width: 100%;
  }

  nav ul {
    padding: 0;
  }

  nav ul li {
    width: 100%;
    margin: 0;
    padding-top: 0;
    padding-bottom: 15px;
    font-size: 18px;
    border-bottom: 3px solid rgb(238, 238, 238);
    border-top: none;
  }

  nav ul li:hover {
    border-bottom: 3px solid #0065fc;
    border-top: none;
  }

  .info-group {
    padding: 0 20px;
  }

  /* bouton recherche*/
  .btn-search {
    display: none;
  }
  .search-icon {
    display: flex;
    margin-left: -30px;
  }

  .search-container form input[type="search"] {
    font-size: 18px;
    width: 270px;
  }

  /* filters */

  .filter-container h2 {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .filter-container-btns {
    justify-content: center;
  }

  .filter-btn {
    font-size: 14px;
    width: 33%;
  }

  /* Border section reset */
  .hebergements-and-populaires section {
    border-radius: 0;
  }

  /* hébergements and populaires */

  .hebergements-and-populaires section {
    padding: 30px 20px;
  }

  .hebergements-and-populaires section:nth-child(1) {
    background-color: white;
  }

  .hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  /* populaires */

  .populaires {
    margin-top: 0;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .populaires-cards a {
    width: 100%;
  }

  /* Hebergements */

  .hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hebergements-cards {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /* section activités */

  .activites-cards {
    display: flex;
    flex-direction: column;
    align-items: normal;
  }

  .activites-cards .card {
    width: 100%;
  }

  .activites-cards img {
    width: 100%;
    height: 141px;
  }

  /* Footer */

  .footer {
    flex-direction: column;
  }
  .footer article {
    width: 100%;
    margin-bottom: 30px;
  }
}
